.context-menu{
    -fx-background-color:  #f9fafb;
}
.scroll-bar:vertical .thumb {
    -fx-background-color: #cfd1d3;
    -fx-background-insets: 0, 0, 0;
    -fx-background-radius: 0.5em;
    -fx-opacity: 0.7;
    -fx-background-size: 10px;
}



